@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Quicksand:wght@300&display=swap");
.l-nav {
  width: 6%;
  background-color: transparent;
  height: 100vh;
  position: absolute;
}
.l-nav ul li {
  display: flex;
  justify-content: center;
}
.l-nav ul li a {
  margin: 60px;
  writing-mode: vertical-lr;
  text-align: center;
  transform: rotate(180deg);
  color: #fff;
  font-family: "Quicksand", sans-serif;
}

.textend {
  margin-top: 27rem !important;
}

* {
  margin: 0;
  padding: 0;
  cursor: url("../img/cu.png") 16 16, auto;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #bfbfbf #050505;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #050505;
}

*::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 10px;
  border: 3px solid #050505;
}

a {
  text-decoration: none;
}

ul, li, ol {
  list-style: none;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
#wrap {
  width: 100%;
  height: 100vh;
  background-color: #050505;
  position: absolute;
}
#wrap .contactwrap {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap .contactwrap .contact {
  width: 1600px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -9rem;
}
#wrap .contactwrap .contact .con {
  color: white;
  position: absolute;
  top: 3.5rem;
  font-size: 6rem;
  font-weight: bold;
  animation: fadeInUp 2.5s;
  opacity: 0;
  animation-fill-mode: forwards;
  font-family: "DM Serif Display", serif;
  font-weight: normal;
  cursor: default;
}
#wrap .contactwrap .contact .email {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  width: 600px;
  height: 500px;
  animation: fadeIn 2s;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}
#wrap .contactwrap .contact .email .email-me {
  width: 600px;
  height: 500px;
  font-family: "Pretendard-Regular";
  background-color: #ffffff;
  border-radius: 10px;
}
#wrap .contactwrap .contact .email .email-me fieldset {
  border: none;
}
#wrap .contactwrap .contact .email .email-me .userName {
  width: 450px;
  height: 30px;
  text-align: center;
  margin-top: 40px;
  font-family: "Pretendard-Regular";
  border: 1px solid #050505;
  border-radius: 5px;
  font-size: 1rem;
}
#wrap .contactwrap .contact .email .email-me .userEmail {
  width: 450px;
  height: 25px;
  margin-top: 10px;
  font-family: "Pretendard-Regular";
  border: 1px solid #050505;
  border-radius: 5px;
  font-size: 0.8rem;
}
#wrap .contactwrap .contact .email .email-me .userMessage {
  width: 452px;
  height: 300px;
  margin-top: 10px;
  font-family: "Pretendard-Regular";
  border: 1px solid #050505;
  border-radius: 5px;
  font-size: 1rem;
}

.btn-send {
  width: 120px;
  height: 40px;
  margin-top: 25px;
  border: 1px none;
  background-color: #050505;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  font-family: "Pretendard-Regular";
  cursor: pointer;
}

.iconmove {
  width: 500px;
  height: 120px;
  position: absolute;
  top: 74.8%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  animation: fadeInUp 3s;
  animation-delay: 2.3s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.iconmove .icon {
  width: 166px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconmove .icon p {
  position: absolute;
  bottom: -2%;
  color: #fff;
  text-align: center;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  cursor: default;
}
.iconmove .icon img {
  width: 45%;
  margin-top: -4rem;
  animation: swing 2s;
  animation-delay: 3s;
}
.iconmove .icon .two {
  width: 42.5%;
}
.iconmove .icon .three {
  width: 43.5%;
}

.pone {
  font-size: 13px !important;
}