@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=IBM+Plex+Mono:wght@600&family=Kaushan+Script&family=Noto+Sans+KR&family=Noto+Serif+KR:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  cursor: url("../img/cu.png") 16 16, auto;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #bfbfbf #050505;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #050505;
}

*::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 10px;
  border: 3px solid #050505;
}

a {
  text-decoration: none;
}

ul, li, ol {
  list-style: none;
}

.wrap {
  width: 100%;
  height: 100vh;
  background-color: #050505;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.inner {
  width: 100%;
  max-width: 70%;
  padding: 2em;
  border: 4px solid #fff;
  border-radius: 4px;
}

p {
  display: inline;
  color: #fff;
  font-family: "IBM Plex Mono", monospace;
  line-height: 2em;
}

span {
  display: none;
  min-width: 1em;
}

.cursor {
  display: inline-block;
  width: 3px;
  height: 1em;
  background-color: #fff;
  animation: flash 0.8s infinite;
}

.a {
  font-size: 5rem;
  font-weight: bold;
  font-family: "IBM Plex Mono", monospace;
}

.b {
  font-size: 2rem;
  font-family: "IBM Plex Mono", monospace;
}

.c {
  font-family: "Noto Sans KR", sans-serif;
}