@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Quicksand:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li, ol {
  list-style: none;
}

#wrap {
  width: 100%;
  height: 100vh;
  background-color: #050505;
}

.black {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: absolute;
  animation: move 1500ms ease-in-out;
  animation-fill-mode: forwards;
  z-index: 1;
}

@keyframes move {
  from {
    bottom: 0%;
  }
  to {
    bottom: 100%;
    display: none;
  }
}
.l-nav {
  width: 6%;
  background-color: transparent;
  height: 100vh;
  position: absolute;
}
.l-nav ul li {
  display: flex;
  justify-content: center;
}
.l-nav ul li a {
  margin: 60px;
  writing-mode: vertical-lr;
  text-align: center;
  transform: rotate(180deg);
  color: #fff;
  font-family: "Quicksand", sans-serif;
}
.l-nav ul li a:hover {
  color: #cacaca;
}

.textend {
  margin-top: 21rem !important;
  cursor: default;
}
.textend:hover {
  color: #fff !important;
}

.linkwrap {
  width: 83%;
  height: 85vh;
  display: flex;
  justify-content: right;
}
.linkwrap .link {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 49%;
}
.linkwrap .link ul li a {
  color: #fff;
  font-family: "DM Serif Display", serif;
  font-style: italic;
  line-height: 17rem;
  font-size: 10rem;
  transition: all 1s;
}
.linkwrap .link ul li a:hover {
  color: #111111;
}

.img {
  width: 400px;
  height: 600px;
  background-color: transparent;
  position: absolute;
  top: 8%;
  left: 15%;
  overflow: hidden;
}
.img img {
  width: 85%;
}

.img2 {
  width: 400px;
  height: 600px;
  background-color: transparent;
  position: absolute;
  top: 22%;
  left: 13%;
  overflow: hidden;
}

.img3 {
  width: 400px;
  height: 300px;
  background-color: transparent;
  position: absolute;
  top: 55%;
  left: 15%;
  overflow: hidden;
}
.img3 img {
  width: 85%;
}