@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Quicksand:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li, ol {
  list-style: none;
}

.l-nav {
  width: 6%;
  background-color: transparent;
  height: 100vh;
  position: absolute;
}
.l-nav ul li {
  display: flex;
  justify-content: center;
}
.l-nav ul li a {
  margin: 60px;
  writing-mode: vertical-lr;
  text-align: center;
  transform: rotate(180deg);
  color: #fff;
  font-family: "Quicksand", sans-serif;
}

.textend {
  margin-top: 27rem !important;
}

#wrap {
  width: 100%;
  height: 100vh;
  background-color: #050505;
}

.white {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  animation: move 1500ms ease-in-out;
  animation-fill-mode: forwards;
  z-index: 1;
}

@keyframes move {
  from {
    bottom: 0%;
  }
  to {
    bottom: 100%;
    display: none;
  }
}
.linkwrap {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: right;
}
.linkwrap .link {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 49%;
}
.linkwrap .link ul li a {
  color: #ffffff;
  font-family: "DM Serif Display", serif;
  font-style: italic;
  line-height: 10rem;
  font-size: 6rem;
  transition: all 1s;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
  transition-property: transform;
  transform-origin: 0 100%;
}
.linkwrap .link ul li a:hover {
  transform: skew(-10deg);
  color: rgb(201, 201, 201);
}

.imgbox {
  width: 700px;
  height: 620px;
  background-color: transparent;
  position: absolute;
  top: 19%;
  left: 10%;
  overflow: hidden;
}
.imgbox img {
  width: 100%;
  margin-top: 10rem;
}

.imgbox2 {
  width: 700px;
  height: 620px;
  background-color: transparent;
  position: absolute;
  top: 19%;
  left: 10%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgbox2 img {
  width: 150%;
}

.imgbox3 {
  width: 700px;
  height: 620px;
  background-color: white;
  position: absolute;
  top: 19%;
  left: 10%;
  overflow: hidden;
}
.imgbox3 img {
  width: 100%;
}

.imgbox4 {
  width: 700px;
  height: 620px;
  background-color: transparent;
  position: absolute;
  top: 19%;
  left: 10%;
  overflow: hidden;
}
.imgbox4 img {
  width: 100%;
  margin-top: 0;
  opacity: 1;
}