@charset 'utf-8';
.l-nav{width: 6%; background-color: transparent; height: 100vh; position: absolute; ul{ li{display: flex; justify-content: center; a{margin: 60px; writing-mode: vertical-lr; text-align: center; rotate: 180deg; color: #fff; font-family: 'Quicksand', sans-serif;
}}}}
.textend{margin-top: 28rem !important;}
