@charset 'utf-8';
@import '_reset.scss';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Quicksand:wght@300&display=swap');
@import '_common.scss';

#wrap{width: 100%; height: 100vh; background-color:#171717;}
.white{width: 100%; height: 100vh; background-color: #fff; position: absolute; animation:move 1500ms ease-in-out; animation-fill-mode: forwards; z-index: 1;}


@keyframes move {
  from {
      bottom: 0%;
      
  }
  to{
      bottom: 100%;
      display: none;
     
  }
}

.linkwrap{width: 100%; height: 85vh; display: flex; justify-content: right; .link{display: flex;align-items: center; height: 100vh; width: 49%;
    ul{li{a{color: #ffffff; font-family: 'DM Serif Display', serif; font-style: italic; line-height: 10rem; font-size: 6rem; transition: all 1s; &:hover{color: #2c2c2c;}}}}
  }}

.imgbox{width: 700px; height: 620px; background-color: transparent; position: absolute; top: 19%; left: 10%; overflow: hidden; img{width: 100%; margin-top:10rem;}}
.imgbox2{width: 700px; height: 620px; background-color:transparent; position: absolute; top: 19%; left: 10%; overflow: hidden; display: flex; justify-content: center; align-items: center; img{width: 150%;}}
.imgbox3{width: 700px; height: 620px; background-color: white; position: absolute; top: 19%; left: 10%; overflow: hidden; img{width: 100%;}}
.imgbox4{width: 700px; height: 620px; background-color: transparent; position: absolute; top: 19%; left: 10%; overflow: hidden; img{width: 80%; margin-top: -5rem; opacity: 0.8;}}
